First download the .csvs 

!curl http://web.mta.info/developers/data/nyct/turnstile/turnstile_160903.txt > '9_3_2016_turnstiles.csv'  
!curl http://web.mta.info/developers/data/nyct/turnstile/turnstile_160910.txt > '9_10_2016_turnstiles.csv'  
!curl http://web.mta.info/developers/data/nyct/turnstile/turnstile_160917.txt > '9_17_2016_turnstiles.csv'

Read in the .csvs and create one dataframe containing all of them.

In [2]:
import pandas as pd

sep_03_2016_df = pd.read_csv('9_3_2016_turnstiles.csv')
sep_10_2016_df = pd.read_csv('9_10_2016_turnstiles.csv')
sep_17_2016_df = pd.read_csv('9_17_2016_turnstiles.csv')


df = pd.concat([sep_03_2016_df,sep_10_2016_df,sep_17_2016_df],ignore_index=True)
# drop duplicates here? df.drop_duplicates()
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,00:00:00,REGULAR,5799442,1966041
1,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,04:00:00,REGULAR,5799463,1966044
2,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,08:00:00,REGULAR,5799492,1966079
3,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,12:00:00,REGULAR,5799610,1966155
4,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,16:00:00,REGULAR,5799833,1966214

Create 'STATID', 'TIMESTAMP', 'DIFFERENCE' columns.
STATID is a unique identifier for a station using the station's name and the train lines that can be accessed there.
TIMESTAMP is a combination of the DATE and TIME fields.
DIFFERENCE is a count of the number of entries that occured since the last recorded TIMESTAMP.

In [3]:
df['STATID'] = df.STATION + df.LINENAME

In [4]:
df['TIMESTAMP'] = pd.to_datetime((df.DATE + ' ' + df.TIME), format='%m/%d/%Y %H:%M:%S')

In [5]:
df = df.sort_values(['STATID', 'UNIT','SCP', 'TIMESTAMP'])
df['DIFFERENCE']=df.groupby(['STATID','UNIT','SCP'],as_index=False)['ENTRIES'].transform(pd.Series.diff)['ENTRIES']

In [6]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATID,TIMESTAMP,DIFFERENCE
29649,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,00:00:00,REGULAR,11448160,12524556,1 AVL,2016-08-27 00:00:00,NaN
29650,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,04:00:00,REGULAR,11448263,12524848,1 AVL,2016-08-27 04:00:00,103
29651,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,08:00:00,REGULAR,11448362,12525150,1 AVL,2016-08-27 08:00:00,99
29652,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,16:00:00,REGULAR,11449527,12526744,1 AVL,2016-08-27 16:00:00,1165
29653,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,20:00:00,REGULAR,11450095,12527835,1 AVL,2016-08-27 20:00:00,568

Now look for outliers in the DIFFERENCE data.

In [7]:
sorted_df = df.sort_values('DIFFERENCE')
pd.options.display.max_rows = 200
sorted_df.DIFFERENCE.head(100)

389638   -1894869117
64198    -1494568993
134614    -417796251
356534    -117440532
547404     -74671740
390615     -66849133
64324      -14127545
575628     -12497846
154406     -11078280
299021     -10561669
167305      -9168695
536927      -6130945
487838      -3664512
487338      -3252754
362071      -2337158
248714      -2042719
303973      -1460031
422724      -1054560
517543      -1014544
422766       -761957
248671       -703669
176387       -563964
112578       -533710
228432       -287991
164456       -238404
112658       -238193
422856       -227132
422904       -197042
308908       -193763
308906       -193670
382471       -174613
34970        -138983
228340       -138776
228519       -122268
228570        -98988
228477        -95614
568904        -87315
228255        -61491
228615        -44919
228388        -40061
503477        -36263
422814        -29042
228659        -25039
422542        -24360
308947        -21942
422587        -20866
110134        -14620
308670        -13819
34638         -13697
422682        -10817
310752        -10599
228298         -4993
196647         -2287
399083         -1959
399077         -1861
204369         -1861
399065         -1850
573468         -1848
573474         -1830
380601         -1821
391493         -1812
573462         -1800
204363         -1788
11085          -1779
164458         -1773
289431         -1764
573456         -1761
391481         -1755
11097          -1749
391487         -1729
185749         -1723
399071         -1718
573480         -1699
399059         -1695
483687         -1690
50266          -1685
380607         -1683
11091          -1672
204357         -1670
185743         -1667
196653         -1627
380589         -1622
11103          -1620
391469         -1620
3457           -1615
11109          -1610
50308          -1604
3451           -1591
3463           -1589
185755         -1581
299117         -1581
391475         -1565
380595         -1562
196642         -1551
243650         -1549
399082         -1549
463247         -1546
204351         -1530
196659         -1524
438226         -1523
Name: DIFFERENCE, dtype: float64

Without any more investigation it seem reasonable to remove the first 33 entries.

In [8]:
sorted_df = sorted_df[sorted_df['DIFFERENCE'] > -122268]

In [9]:
sorted_df.DIFFERENCE.head(5)

228570   -98988
228477   -95614
568904   -87315
228255   -61491
228615   -44919
Name: DIFFERENCE, dtype: float64

In [10]:
sorted_df[sorted_df['DIFFERENCE'] == -98988]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATID,TIMESTAMP,DIFFERENCE
228570,JFK03,R536,00-03-02,JFK JAMAICA CT1,E,IND,09/08/2016,13:00:00,REGULAR,55,59,JFK JAMAICA CT1E,2016-09-08 13:00:00,-98988

In [11]:
sorted_df[sorted_df['DATE'] == '09/08/2016'][sorted_df['UNIT'] == 'R536'][sorted_df['SCP'] == '00-03-02'].sort_values(['STATID', 'UNIT','SCP', 'TIMESTAMP'])

/Users/nickybangs/anaconda/lib/python2.7/site-packages/pandas/core/frame.py:1997: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATID,TIMESTAMP,DIFFERENCE
228567,JFK03,R536,00-03-02,JFK JAMAICA CT1,E,IND,09/08/2016,01:00:00,REGULAR,98839,122559,JFK JAMAICA CT1E,2016-09-08 01:00:00,28
228568,JFK03,R536,00-03-02,JFK JAMAICA CT1,E,IND,09/08/2016,05:00:00,REGULAR,98875,122604,JFK JAMAICA CT1E,2016-09-08 05:00:00,36
228569,JFK03,R536,00-03-02,JFK JAMAICA CT1,E,IND,09/08/2016,09:00:00,REGULAR,99043,122763,JFK JAMAICA CT1E,2016-09-08 09:00:00,168
228570,JFK03,R536,00-03-02,JFK JAMAICA CT1,E,IND,09/08/2016,13:00:00,REGULAR,55,59,JFK JAMAICA CT1E,2016-09-08 13:00:00,-98988
228571,JFK03,R536,00-03-02,JFK JAMAICA CT1,E,IND,09/08/2016,17:00:00,REGULAR,372,401,JFK JAMAICA CT1E,2016-09-08 17:00:00,317
228572,JFK03,R536,00-03-02,JFK JAMAICA CT1,E,IND,09/08/2016,21:00:00,REGULAR,679,693,JFK JAMAICA CT1E,2016-09-08 21:00:00,307

Looks like counter restarted inbetween records. Should disregard count.

In [12]:
sorted_df.DIFFERENCE.head(50)

228570   -98988
228477   -95614
568904   -87315
228255   -61491
228615   -44919
228388   -40061
503477   -36263
422814   -29042
228659   -25039
422542   -24360
308947   -21942
422587   -20866
110134   -14620
308670   -13819
34638    -13697
422682   -10817
310752   -10599
228298    -4993
196647    -2287
399083    -1959
399077    -1861
204369    -1861
399065    -1850
573468    -1848
573474    -1830
380601    -1821
391493    -1812
573462    -1800
204363    -1788
11085     -1779
164458    -1773
289431    -1764
573456    -1761
391481    -1755
11097     -1749
391487    -1729
185749    -1723
399071    -1718
573480    -1699
399059    -1695
483687    -1690
50266     -1685
380607    -1683
11091     -1672
204357    -1670
185743    -1667
196653    -1627
380589    -1622
11103     -1620
391469    -1620
Name: DIFFERENCE, dtype: float64

In [13]:
sorted_df[sorted_df['DIFFERENCE'] == -4993]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATID,TIMESTAMP,DIFFERENCE
228298,JFK03,R536,00-00-02,JFK JAMAICA CT1,E,IND,09/06/2016,13:00:00,REGULAR,10,33,JFK JAMAICA CT1E,2016-09-06 13:00:00,-4993

In [14]:
sorted_df[sorted_df['DATE'] == '09/06/2016'][sorted_df['UNIT'] == 'R536'][sorted_df['SCP'] == '00-00-02'].sort_values(['STATID', 'UNIT','SCP', 'TIMESTAMP'])

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATID,TIMESTAMP,DIFFERENCE
228295,JFK03,R536,00-00-02,JFK JAMAICA CT1,E,IND,09/06/2016,01:00:00,REGULAR,4898,3333,JFK JAMAICA CT1E,2016-09-06 01:00:00,17
228296,JFK03,R536,00-00-02,JFK JAMAICA CT1,E,IND,09/06/2016,05:00:00,REGULAR,4904,3341,JFK JAMAICA CT1E,2016-09-06 05:00:00,6
228297,JFK03,R536,00-00-02,JFK JAMAICA CT1,E,IND,09/06/2016,09:00:00,REGULAR,5003,3432,JFK JAMAICA CT1E,2016-09-06 09:00:00,99
228298,JFK03,R536,00-00-02,JFK JAMAICA CT1,E,IND,09/06/2016,13:00:00,REGULAR,10,33,JFK JAMAICA CT1E,2016-09-06 13:00:00,-4993
228299,JFK03,R536,00-00-02,JFK JAMAICA CT1,E,IND,09/06/2016,17:00:00,REGULAR,209,196,JFK JAMAICA CT1E,2016-09-06 17:00:00,199
228300,JFK03,R536,00-00-02,JFK JAMAICA CT1,E,IND,09/06/2016,21:00:00,REGULAR,352,324,JFK JAMAICA CT1E,2016-09-06 21:00:00,143

Once again, counter restarted.

In [15]:
sorted_df.DIFFERENCE.head(50)

228570   -98988
228477   -95614
568904   -87315
228255   -61491
228615   -44919
228388   -40061
503477   -36263
422814   -29042
228659   -25039
422542   -24360
308947   -21942
422587   -20866
110134   -14620
308670   -13819
34638    -13697
422682   -10817
310752   -10599
228298    -4993
196647    -2287
399083    -1959
399077    -1861
204369    -1861
399065    -1850
573468    -1848
573474    -1830
380601    -1821
391493    -1812
573462    -1800
204363    -1788
11085     -1779
164458    -1773
289431    -1764
573456    -1761
391481    -1755
11097     -1749
391487    -1729
185749    -1723
399071    -1718
573480    -1699
399059    -1695
483687    -1690
50266     -1685
380607    -1683
11091     -1672
204357    -1670
185743    -1667
196653    -1627
380589    -1622
11103     -1620
391469    -1620
Name: DIFFERENCE, dtype: float64

In [16]:
sorted_df[sorted_df['DIFFERENCE'] == -2287]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATID,TIMESTAMP,DIFFERENCE
196647,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,09/07/2016,20:00:00,REGULAR,1557034876,2048728231,34 ST-HERALD SQBDFMNQR,2016-09-07 20:00:00,-2287

In [17]:
sorted_df[sorted_df['DATE'] == '09/07/2016'][sorted_df['UNIT'] == 'R023'][sorted_df['SCP'] == '01-03-02'].sort_values(['STATID', 'UNIT','SCP', 'TIMESTAMP'])

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATID,TIMESTAMP,DIFFERENCE
196643,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,09/07/2016,00:00:00,REGULAR,1557037983,2048726087,34 ST-HERALD SQBDFMNQR,2016-09-07 00:00:00,-824
196644,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,09/07/2016,04:00:00,REGULAR,1557037899,2048726117,34 ST-HERALD SQBDFMNQR,2016-09-07 04:00:00,-84
196645,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,09/07/2016,08:00:00,REGULAR,1557037755,2048726376,34 ST-HERALD SQBDFMNQR,2016-09-07 08:00:00,-144
196646,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,09/07/2016,12:00:00,REGULAR,1557037163,2048727153,34 ST-HERALD SQBDFMNQR,2016-09-07 12:00:00,-592
196647,A025,R023,01-03-02,34 ST-HERALD SQ,BDFMNQR,BMT,09/07/2016,20:00:00,REGULAR,1557034876,2048728231,34 ST-HERALD SQBDFMNQR,2016-09-07 20:00:00,-2287

For the less extreme negative values, it looks as though the counter is working, however it is counting in reverse.
Because the counter restarts at the difference -4993 and does not at -2287, we will split the data here. Anything less than -4993 will be ignored and the rest will be replaced by their absolute value and included in the count.

In [18]:
sorted_df = sorted_df[sorted_df['DIFFERENCE'] > -4993]
sorted_df['DIFFERENCE'] = sorted_df['DIFFERENCE'].abs()

In [19]:
sorted_df.DIFFERENCE.tail(10)

308907        193765
458246        261848
112579        534087
358090      16777218
321921      65007495
458290      67108864
358084     100661997
73446      334224743
510927    1145456250
447140    1905096174
Name: DIFFERENCE, dtype: float64

In [20]:
sorted_df = sorted_df[sorted_df['DIFFERENCE'] < 12897]

In [21]:
sorted_df.DIFFERENCE.tail(10)

536583    3022
435259    3027
442743    3062
147790    3115
435253    3167
342223    3207
342229    3252
342237    3281
536158    3366
550602    3837
Name: DIFFERENCE, dtype: float64

In [22]:
clean_df = sorted_df.sort_values(['STATID', 'UNIT','SCP', 'TIMESTAMP'])

In [23]:
clean_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATID,TIMESTAMP,DIFFERENCE
29650,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,04:00:00,REGULAR,11448263,12524848,1 AVL,2016-08-27 04:00:00,103
29651,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,08:00:00,REGULAR,11448362,12525150,1 AVL,2016-08-27 08:00:00,99
29652,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,16:00:00,REGULAR,11449527,12526744,1 AVL,2016-08-27 16:00:00,1165
29653,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,20:00:00,REGULAR,11450095,12527835,1 AVL,2016-08-27 20:00:00,568
29654,H007,R248,00-00-00,1 AV,L,BMT,08/28/2016,00:00:00,REGULAR,11450417,12528696,1 AVL,2016-08-28 00:00:00,322

In [47]:
clean_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATID,TIMESTAMP,DIFFERENCE
29650,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,04:00:00,REGULAR,11448263,12524848,1 AVL,2016-08-27 04:00:00,103
29651,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,08:00:00,REGULAR,11448362,12525150,1 AVL,2016-08-27 08:00:00,99
29652,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,16:00:00,REGULAR,11449527,12526744,1 AVL,2016-08-27 16:00:00,1165
29653,H007,R248,00-00-00,1 AV,L,BMT,08/27/2016,20:00:00,REGULAR,11450095,12527835,1 AVL,2016-08-27 20:00:00,568
29654,H007,R248,00-00-00,1 AV,L,BMT,08/28/2016,00:00:00,REGULAR,11450417,12528696,1 AVL,2016-08-28 00:00:00,322

In [49]:
new_df = clean_df.groupby(['STATID'],as_index=False).sum()

In [50]:
new_df = new_df[['STATID','DIFFERENCE']]
new_df.columns=['Station_ID','Total_Entries']
clean_df.groupby(['STATID','DATE'],as_index=False).sum()

,STATID,DATE,ENTRIES,EXITS,DIFFERENCE
0,1 AVL,08/27/2016,6617122922,6890060247,12685
1,1 AVL,08/28/2016,8473638796,8791694626,13871
2,1 AVL,08/29/2016,8473727040,8791793094,18064
3,1 AVL,08/30/2016,8473839770,8791909100,19182
4,1 AVL,08/31/2016,8473957676,8792030821,19616
5,1 AVL,09/01/2016,8474077822,8792152588,20170
6,1 AVL,09/02/2016,8474197854,8792276072,20439
7,1 AVL,09/03/2016,8474312958,8792390520,15187
8,1 AVL,09/04/2016,8474395798,8792477999,12951
9,1 AVL,09/05/2016,8474466938,8792556307,11376
10,1 AVL,09/06/2016,8474549439,8792650357,19007
11,1 AVL,09/07/2016,8474671599,8792774999,20756
12,1 AVL,09/08/2016,8474804136,8792910218,23347
13,1 AVL,09/09/2016,8474947105,8793052989,24124
14,1 AVL,09/10/2016,8475086086,8793187433,19432
15,1 AVL,09/11/2016,7506972111,7764135392,15778
16,1 AVL,09/12/2016,8475286706,8793398566,19249
17,1 AVL,09/13/2016,8475413679,8793527733,22949
18,1 AVL,09/14/2016,8475553960,8793667512,23671
19,1 AVL,09/15/2016,8475698187,8793814177,24269
20,1 AVL,09/16/2016,8475844857,8793959330,24650
21,103 ST-CORONA7,08/27/2016,326534885,309629323,14038
22,103 ST-CORONA7,08/28/2016,391916239,371621500,12406
23,103 ST-CORONA7,08/29/2016,392014719,371684955,19323
24,103 ST-CORONA7,08/30/2016,457485205,433730007,19806
25,103 ST-CORONA7,08/31/2016,392251742,371858024,19931
26,103 ST-CORONA7,09/01/2016,392370261,371947350,19513
27,103 ST-CORONA7,09/02/2016,457902773,434038988,19838
28,103 ST-CORONA7,09/03/2016,392589376,372119916,14867
29,103 ST-CORONA7,09/04/2016,392668927,372189191,11921
30,103 ST-CORONA7,09/05/2016,392739902,372246076,11663
31,103 ST-CORONA7,09/06/2016,458307577,434359669,19578
32,103 ST-CORONA7,09/07/2016,392957090,372400154,20720
33,103 ST-CORONA7,09/08/2016,393084842,372492903,21342
34,103 ST-CORONA7,09/09/2016,393212434,372587858,21353
35,103 ST-CORONA7,09/10/2016,393320130,372677897,15424
36,103 ST-CORONA7,09/11/2016,393402681,372750498,12358
37,103 ST-CORONA7,09/12/2016,393501661,372814981,19939
38,103 ST-CORONA7,09/13/2016,393627966,372902046,21658
39,103 ST-CORONA7,09/14/2016,393757672,372994349,21413
40,103 ST-CORONA7,09/15/2016,393886512,373088554,21733
41,103 ST-CORONA7,09/16/2016,394017106,373181100,21793
42,103 ST1,08/27/2016,332253943,169866119,1697
43,103 ST1,08/28/2016,398715253,203854234,1771
44,103 ST1,08/29/2016,465209134,237854205,10442
45,103 ST1,08/30/2016,465282458,237889581,11674
46,103 ST1,08/31/2016,398886746,203939805,11878
47,103 ST1,09/01/2016,465451702,237968346,12138
48,103 ST1,09/02/2016,399030031,204006991,11790
49,103 ST1,09/03/2016,399090492,204036107,8156
50,103 ST1,09/04/2016,399136924,204058272,7134
51,103 ST1,09/05/2016,399179740,204079673,7218
52,103 ST1,09/06/2016,399237373,204105366,12184
53,103 ST1,09/07/2016,399312588,204140413,12785
54,103 ST1,09/08/2016,399391446,204178120,13772
55,103 ST1,09/09/2016,399473167,204215584,13320
56,103 ST1,09/10/2016,399527110,204245528,3160
57,103 ST1,09/11/2016,399540466,204261241,2032
58,103 ST1,09/12/2016,399577140,204281044,11359
59,103 ST1,09/13/2016,399653154,204317441,13462
60,103 ST1,09/14/2016,399734248,204356723,13843
61,103 ST1,09/15/2016,399816129,204399371,13513
62,103 ST1,09/16/2016,399898029,204440029,13703
63,103 ST6,08/27/2016,320586924,2698848263,8008
64,103 ST6,08/28/2016,384749111,3238659814,6964
65,103 ST6,08/29/2016,384806835,3238710377,12966
66,103 ST6,08/30/2016,384886830,3238780647,13658
67,103 ST6,08/31/2016,384969654,3238852198,13917
68,103 ST6,09/01/2016,385051989,3238919477,13529
69,103 ST6,09/02/2016,385132355,3238989772,13485
70,103 ST6,09/03/2016,385200443,3239049977,8480
71,103 ST6,09/04/2016,385247310,3239093035,6862
72,103 ST6,09/05/2016,385288421,3239130790,7119
73,103 ST6,09/06/2016,385349095,3239184356,14056
74,103 ST6,09/07/2016,385428575,3239258478,12760
75,103 ST6,09/08/2016,385516202,3239334656,16078
76,103 ST6,09/09/2016,385612553,3239414678,15888
77,103 ST6,09/10/2016,385689598,3239480486,9050
78,103 ST6,09/11/2016,385738106,3239524166,7064
79,103 ST6,09/12/2016,385799046,3239577439,14371
80,103 ST6,09/13/2016,385891516,3239655156,16456
81,103 ST6,09/14/2016,385991528,3239737873,16677
82,103 ST6,09/15/2016,386091477,3239819401,16866
83,103 ST6,09/16/2016,386191793,3239901390,16594
84,103 STBC,08/27/2016,128420806,114382227,3262
85,103 STBC,08/28/2016,154124226,137272217,3246
86,103 STBC,08/29/2016,154147043,137287544,4209
87,103 STBC,08/30/2016,154172451,137305897,4353
88,103 STBC,08/31/2016,154198985,137325772,4445
89,103 STBC,09/01/2016,154225085,137344325,4244
90,103 STBC,09/02/2016,154250311,137362947,4347
91,103 STBC,09/03/2016,154271780,137379304,2651
92,103 STBC,09/04/2016,154286997,137390664,2461
93,103 STBC,09/05/2016,154301640,137402366,2457
94,103 STBC,09/06/2016,154322647,137416645,4454
95,103 STBC,09/07/2016,154350210,137437270,4749
96,103 STBC,09/08/2016,154379418,137458216,4932
97,103 STBC,09/09/2016,154408363,137479303,4922
98,103 STBC,09/10/2016,154432896,137497629,3218
99,103 STBC,09/11/2016,154452077,137511848,3169
...,...,...,...,...,...
9810,WOODHAVEN BLVDMR,09/01/2016,251341091,186292037,20751
9811,WOODHAVEN BLVDMR,09/02/2016,251466061,186364879,21531
9812,WOODHAVEN BLVDMR,09/03/2016,251572890,186435791,14659
9813,WOODHAVEN BLVDMR,09/04/2016,251653785,186490470,12136
9814,WOODHAVEN BLVDMR,09/05/2016,251726184,186540486,12921
9815,WOODHAVEN BLVDMR,09/06/2016,305391529,221430659,21514
9816,WOODHAVEN BLVDMR,09/07/2016,355321501,272603053,23042
9817,WOODHAVEN BLVDMR,09/08/2016,252107146,186753166,22661
9818,WOODHAVEN BLVDMR,09/09/2016,252243016,186827286,23040
9819,WOODHAVEN BLVDMR,09/10/2016,252349270,186898818,13100
9820,WOODHAVEN BLVDMR,09/11/2016,252421136,186953994,10641
9821,WOODHAVEN BLVDMR,09/12/2016,252516083,187007467,20820
9822,WOODHAVEN BLVDMR,09/13/2016,252648111,187077769,22347
9823,WOODHAVEN BLVDMR,09/14/2016,252782619,187148910,22599
9824,WOODHAVEN BLVDMR,09/15/2016,252918898,187219640,22970
9825,WOODHAVEN BLVDMR,09/16/2016,253057620,187294447,23771
9826,WOODLAWN4,08/27/2016,142996338,57810467,4381
9827,WOODLAWN4,08/28/2016,171621380,69381148,4033
9828,WOODLAWN4,08/29/2016,200265203,80954398,7078
9829,WOODLAWN4,08/30/2016,171698236,69400285,7384
9830,WOODLAWN4,08/31/2016,171743420,69411847,7568
9831,WOODLAWN4,09/01/2016,200421818,80993610,7779
9832,WOODLAWN4,09/02/2016,171834473,69434814,7368
9833,WOODLAWN4,09/03/2016,171870432,69445633,4700
9834,WOODLAWN4,09/04/2016,171896271,69453769,3855
9835,WOODLAWN4,09/05/2016,171919573,69461717,4121
9836,WOODLAWN4,09/06/2016,171956276,69470161,7762
9837,WOODLAWN4,09/07/2016,172003209,69481535,7905
9838,WOODLAWN4,09/08/2016,172050728,69493901,7993
9839,WOODLAWN4,09/09/2016,172098124,69505768,7844
9840,WOODLAWN4,09/10/2016,172136194,69517617,5091
9841,WOODLAWN4,09/11/2016,172163508,69527142,3850
9842,WOODLAWN4,09/12/2016,172198397,69535672,7669
9843,WOODLAWN4,09/13/2016,172246184,69546945,8422
9844,WOODLAWN4,09/14/2016,172297799,69559560,8507
9845,WOODLAWN4,09/15/2016,172347790,69571838,8172
9846,WOODLAWN4,09/16/2016,223365341,86753685,8006
9847,WORLD TRADE CTRACE23,08/27/2016,193006188,100560345,8324
9848,WORLD TRADE CTRACE23,08/28/2016,231660806,120723159,8336
9849,WORLD TRADE CTRACE23,08/29/2016,231716960,120774570,13890
9850,WORLD TRADE CTRACE23,08/30/2016,231802673,120825161,14839
9851,WORLD TRADE CTRACE23,08/31/2016,231891870,120875985,14765
9852,WORLD TRADE CTRACE23,09/01/2016,231979307,120925628,14198
9853,WORLD TRADE CTRACE23,09/02/2016,232064721,120972792,13424
9854,WORLD TRADE CTRACE23,09/03/2016,232134315,121016848,7541
9855,WORLD TRADE CTRACE23,09/04/2016,232176977,121053077,6652
9856,WORLD TRADE CTRACE23,09/05/2016,232213739,121084541,5345
9857,WORLD TRADE CTRACE23,09/06/2016,270966800,141305555,13730
9858,WORLD TRADE CTRACE23,09/07/2016,271066215,141361130,14700
9859,WORLD TRADE CTRACE23,09/08/2016,232435194,121218785,15458
9860,WORLD TRADE CTRACE23,09/09/2016,232529056,121271245,15542
9861,WORLD TRADE CTRACE23,09/10/2016,232612986,121322110,9629
9862,WORLD TRADE CTRACE23,09/11/2016,232672257,121377434,9783
9863,WORLD TRADE CTRACE23,09/12/2016,232743433,121435527,16412
9864,WORLD TRADE CTRACE23,09/13/2016,232836663,121487088,15837
9865,WORLD TRADE CTRACE23,09/14/2016,232932335,121538495,15652
9866,WORLD TRADE CTRACE23,09/15/2016,233026053,121590752,15927
9867,WORLD TRADE CTRACE23,09/16/2016,233123461,121644581,16131
9868,YORK STF,08/27/2016,167002572,150768675,5614
9869,YORK STF,08/28/2016,200447165,180952708,7388
9870,YORK STF,08/29/2016,233913718,211151069,10854
9871,YORK STF,08/30/2016,200555796,181018665,9841
9872,YORK STF,08/31/2016,200615060,181052267,9925
9873,YORK STF,09/01/2016,200673500,181085363,9273
9874,YORK STF,09/02/2016,200729035,181116692,9043
9875,YORK STF,09/03/2016,200777098,181143741,5913
9876,YORK STF,09/04/2016,200811944,181168470,6135
9877,YORK STF,09/05/2016,200845827,181191623,4591
9878,YORK STF,09/06/2016,200883625,181217327,10019
9879,YORK STF,09/07/2016,200944403,181250712,10210
9880,YORK STF,09/08/2016,201007223,181285129,10642
9881,YORK STF,09/09/2016,201071277,181319150,10360
9882,YORK STF,09/10/2016,201131288,181356723,10354
9883,YORK STF,09/11/2016,201193634,181404831,8502
9884,YORK STF,09/12/2016,201249959,181450389,11062
9885,YORK STF,09/13/2016,201312709,181482815,10673
9886,YORK STF,09/14/2016,201377323,181516767,10865
9887,YORK STF,09/15/2016,201442879,181549766,11041
9888,YORK STF,09/16/2016,201509774,181583439,10824
9889,ZEREGA AV6,08/27/2016,269908576,4646570,1297
9890,ZEREGA AV6,08/28/2016,323897085,5582744,1063
9891,ZEREGA AV6,08/29/2016,323907751,5591531,2427
9892,ZEREGA AV6,08/30/2016,323922587,5604982,2506
9893,ZEREGA AV6,08/31/2016,323937506,5618877,2460
9894,ZEREGA AV6,09/01/2016,323952290,5632773,2443
9895,ZEREGA AV6,09/02/2016,323966454,5645635,2375
9896,ZEREGA AV6,09/03/2016,323977260,5656495,1254
9897,ZEREGA AV6,09/04/2016,323984057,5663027,998
9898,ZEREGA AV6,09/05/2016,323990189,5668834,1032
9899,ZEREGA AV6,09/06/2016,324000873,5677869,2493
9900,ZEREGA AV6,09/07/2016,324016294,5691825,2596
9901,ZEREGA AV6,09/08/2016,324032457,5706461,2751
9902,ZEREGA AV6,09/09/2016,324048815,5720703,2695
9903,ZEREGA AV6,09/10/2016,324060528,5732231,1375
9904,ZEREGA AV6,09/11/2016,324067894,5739489,1081
9905,ZEREGA AV6,09/12/2016,324078498,5748172,2382
9906,ZEREGA AV6,09/13/2016,324094538,5761939,2834
9907,ZEREGA AV6,09/14/2016,324111454,5777126,2837
9908,ZEREGA AV6,09/15/2016,324128795,5792728,2909
9909,ZEREGA AV6,09/16/2016,324145909,5807793,2858

In [62]:
from collections import defaultdict

statid_dict = defaultdict(list)
statids = clean_df['STATID'].unique()

for ID in statids:
    statid_dict['STATID'].append(ID)
    statid_dict['Total_Entries'].append(clean_df[clean_df['STATID'] == ID]['DIFFERENCE'].sum())

In [63]:
statid_df = pd.DataFrame(statid_dict)

In [64]:
statid_df[statid_df['Total_Entries'] == statid_df['Total_Entries'].max()]

                   STATID  Total_Entries
310  GRD CNTRL-42 ST4567S        2524667

In [65]:
sorted_statid_df = statid_df.sort_values('Total_Entries', ascending=False)

In [66]:
sorted_statid_df.head()

                         STATID  Total_Entries
310        GRD CNTRL-42 ST4567S        2524667
90       34 ST-HERALD SQBDFMNQR        2120443
103  42 ST-PORT AUTHACENQRS1237        1583597
444   TIMES SQ-42 ST1237ACENQRS        1540467
94            34 ST-PENN STAACE        1410638

In [67]:
df[df['STATION'] == 'GRD CNTRL-42 ST'][df['DIFFERENCE'] == 3366.0]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,STATID,TIMESTAMP,DIFFERENCE
536158,R240,R047,00-00-00,GRD CNTRL-42 ST,4567S,IRT,09/16/2016,21:00:00,REGULAR,3327556,6431741,GRD CNTRL-42 ST4567S,2016-09-16 21:00:00,3366

In [68]:
import datetime as dt

weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
dt_obj = dt.datetime.strptime('09/16/2016', '%m/%d/%Y')
weekdays[dt_obj.weekday()]

'Friday'

The highest amount of entries at a given turnstile was 3366. This was between 5:00 and 9:00 PM on a Friday. 

This process can easily be extended to find out the most dense interval, day, etc. at any given station.